<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Homepage</title>
</head>
<body>
    <header class="bg-dark text-light p-3 d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="justify-content-start m-0">Recipes</h1>
            <div class="justify-content-end">
                <button class="btn btn-success mr-2">
                    <a href="{{ ('/recipes/new') }}" class="text-light">Create</a>
                </button>
                <button class="btn btn-danger">
                    <a href="{{ ('logout') }}" class="text-light">Logout</a>
                </button>
            </div>
        </div>
    </header>
    
    <main class="container mt-4">
        <h2>Welcome, {{ user_in_db.first_name }}</h2>
        {% with messages = get_flashed_messages(category_filter=['recipe']) %}
            {% if "Successfully added recipe" in messages %}
                <div class="alert alert-success" role="alert">
                    Successfully added recipe
                </div>
            {% endif %}
        {% endwith %}
        <p>All posted recipes:</p>

        <table class="table table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Under 30 min</th>
                    <th>Posted By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.name }}</td>
                    <td>{{ "Yes" if recipe.under_30 else "No"}}</td>
                    <td>{{ recipe.made_by_user.first_name}} {{ recipe.made_by_user.last_name }}</td>
                    <td>
                        <a href="{{ url_for('view_recipe', recipe_id=recipe.recipes_table_id) }}">View</a>
                        {% if user_in_db.id == recipe.user_id %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe.recipes_table_id) }}">Edit</a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe.recipes_table_id) }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>