<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Homepage</title>
</head>
<body>
    <header class="bg-dark text-light p-3 d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="justify-content-start m-0">Recipes</h1>
            <div class="justify-content-end">
                <button class="btn btn-success mr-2">Create</button>
                <button class="btn btn-danger">Logout</button>
            </div>
        </div>
    </header>
    
    <main class="container mt-4">
        <h2>Welcome, Name</h2>
        <p>All posted recipes:</p>

        <table class="table table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Under 30 min</th>
                    <th>Posted By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>